<main role="main">
  <section class="content_show-section">
    <div class="menu">
      <h1 class="text-muted h1_show container_show_square"><%= @cafe.name %></h1><br>
        <div class= "container_show_square">
        <h2 class="text-muted">Меню</h2>
        <p class="lead text-muted"><%= @cafe.menu.gsub(/\n/, '<br>').html_safe %></p>
        </div>
    </div>
    <div class="image_show-container">
      <% if @cafe.photo.attached? %>
        <%= image_tag @cafe.photo, class: "img_cafe" %>
      <% end %>
      <div class="text_show-container container_show_square">
        <h2 class="text-muted">Описание</h2>
        <p class="lead text-muted"><%= @cafe.description %></p>
      </div>
    </div>
  </section>
</main>
